*{margin: 0px;padding: 0px;box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none;color: #666;}
img{max-width: 100%;}
.box{
    width: 100%;
    height: auto;
    font-size: 12px;
    color: #666;
    overflow: hidden;
}
/* 头部导航 */
#header{
    transition: height .36s ease;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 99;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.navigation{
    max-width: 90%;
    margin: 0px auto;
    position: relative;
    height: 100%;
    clear:both
}
/* logo */
.headleft{
    position: relative;
    float: left;
    height: 100%;
    margin-right: 50px;
}
.headleft a{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    display: block;
}
.headleft a img{
    max-width: initial;
}
/* 导航 */
.headright{
    float: right;
    height: 100%;
}
.movedx{
    height: 100%;
}
.movedx li{
    height: 100%;
    transition: all .36s ease;
    cursor: pointer;
    position: relative;
    float: left;
    font-size: 14px;
}
.movedx li a{
    height: 100%;
    transition: all .36s ease;
    padding: 0 26px;
    border-bottom: 2px solid transparent;
    line-height: calc(80px - 2px);
    display: block;
    color: #666;
}
.movedx li a:hover{
    color: #3db45e;
}
.movedx li .active{
    color: #3db45e;
    border-color: #3db45e;
}
.fa{
    font-style: normal;
    font-size: 14px;
    padding-left: 5px;
}
.subnav{
    background: #fff;
    display: none;
    width: 180px;
    height: auto;
    border-top: 2px solid #3eb45e;
    position: absolute;
    top: calc(100% - 2px);
    left: 0px;
    z-index: 199;
    box-shadow: 0 13px 42px 11px rgba(0,0,0,0.5);
}
.subnav li{
    cursor: pointer;
    width: 100%;
    height: 46px;
}
.subnav li:hover{
    background: #3DB45E;
}
.subnav li a:hover{
    color: #fff !important;
}
.subnav li a{
    line-height: 46px;
    display: block;
    transition: all .2s ease-in-out;
    font-size: 12px;
    color: #666;
}

/* 中间导航位置 */
.locat{
    width: 100%;
    height: 50px;
    margin-top: 80px;
}
.loca_targ{
    width: 100%;
    height: 50px;
    padding: 0 4%;
    font-size: 12px;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid #EFEFEF;
}
.wei{
    width: 300px;
    height: 100%;
    float: right;
    display: flex;
    align-content: center;
}
.wei p{
    color: #666666;
}
.wei a{
    color: #666;
}
.wei a:hover{
    color: #3EB45E;
}
.wei i{
    font-style: normal;
    padding: 0 10px;
}
.wei span{
    color:#3EB45E; 
}


/* 底部 */
footer{
    width: 100%;
    height: 80px;
    border-top: 1px solid #eaeaea;
    background-color: #3D3B3C;
}
.copyright{
    float: right;
    width: 40%;
    height: 100%;
    display: flex;
    line-height: 80px;
}
.acp_p{
    font-size: 14px;
    color: #908E8E;
    margin-right: 5px;
}
.copyright a{
    font-size: 14px;
    color: #908E8E;
    transition: all .36s ease;
    margin-right: 5px;
}
.copyright a:hover{
    color: #fff;
}

/* 产品 */
.content{
    width: 94%;
    margin: 0px auto;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}
.moudle_container{
    max-width: 100%;
    padding-top: 20px;
    position: relative;
    overflow: hidden;
}
.data{
    position: relative;
    float: left;
    width: calc(100% / 2 - 20px);
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: all .36s ease;
    border: 0;
}
.item_img{
    position: relative;
    overflow: hidden;
}
.item_img::before{
    content:'';
    width: 0px;
    height: 0px;
    border-top: 15px solid transparent;
    border-bottom:15px solid transparent;
    border-right: 15px solid transparent;
    border-left: 15px solid #fff;
    position: absolute;
    z-index: 2;
    top: 46%;
    left: 50%;
    margin-top: -88px;
    margin-left: -4px;
    transition: all .6s cubic-bezier(.215,.61,.355,1) 0s;
    opacity: 0;
}
.item_img::after{
    position: absolute;
    top: 46%;
    left: 50%;
    width: 46px;
    height: 46px;
    margin: -34px;
    content: "";
    transition: .36s ease;
    transform: translate3d(0,70px,0);
    border: 12px solid rgba(228,228,228,.15);
    border-radius: 50%;
    background: rgba(42,42,42,.86);
    opacity: 0;
}
.item_img img{
    transition: all .36s ease;
    vertical-align: middle;
}
.data:hover img{
    transform: scale(1.1);
}
.data:hover .item_img::before{
    opacity: 1;
    margin-top: -18px;
}
.data:hover .item_img::after{
    opacity: 1;
    transform: translate3d(0,0px,0);
}
.data:hover .item_indo p{
    color: #3eb45e;
}
.item_wrap{
    padding: 24px 0px;
}
.item_indo p{
    transition: all .36s ease;
    color: #333;
    font-size: 16px;
    line-height: 30px;
}
.item_indo span{
    transition: all .36s ease;
    color: #868585;
    font-size: 14px;
    line-height: 22px;
}
.item_des{
    font-size: 13px;
    line-height: 24px;
    margin-top: 13px;
}
